{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block main %}
    <div class="starter-template">
        <h1>Unintended Consequences Baby Name Checker</h1>
            <p>SplatSpace member David Bradway had the upcoming blessing/dilemma of determining a name for his new child. In order to facilitate the best decision on a name with the fewest future consequences of being ridiculed as the child gets older, he decided to create this website. You enter in a full name and it shows you results of potential consequences with initials, e-mail addresses, married names, etc. It’s a really cool project, so be sure to check it out! Also, he has the code up on GitHub if you wanna check out how it was written and if you want to contribute to this awesome project!</p>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="hidden-xs- col-md-3"></div>
                    <div class="col-xs-6 col-md-3"><img src="/static/img/girls-names-word-cloud.jpg" width=92% /></div>
                    <div class="col-xs-6 col-md-3"><img src="/static/img/boys-names-word-cloud.jpg" width=100% /></div>
                    <div class="hidden-xs- col-md-3"></div>
                </div>
            </div>
        </div>
    </div>      
{% endblock %}
