$def with (namevalue)

    <div class="container">

      <div class="starter-template">
        <h1>Unintended Consequences Name Checker</h1>
        <p class="lead">Enter a potential baby name below to see problematic possible initials and email addresses.</p>
        <form class="form-signin"  action="/" method="POST">
          <label for="inputName" class="sr-only">Name</label>
          $if namevalue:
              <input type="text" name="name" id="inputName" class="form-control" placeholder="$namevalue" required autofocus>
          $else:
              <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required autofocus>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </form>
      </div>

    $if namevalue:
      <div class="page-header">
        <h1>Results for $namevalue</h1>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Entry</th>
              <th>Definition</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td> A
              </td>
              <td>Def'n</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
            </tr>
          </tbody>
        </table>
      </div>
    $else:
        &nbsp;

    </div> <!-- /container -->