$def with (namevalue, dict)
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Name Checker</a>
          $if namevalue:
              <form class="navbar-form navbar-right form-signin"  action="/" method="POST">
                <input type="text" name="name" id="inputName" class="form-control" value="$namevalue" required autofocus>
              </form>

        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://twitter.com/davidbradway" target="_blank">Twitter @davidbradway</a></li>
                <li><a href="https://gitlab.oit.duke.edu/dpb6/name-checker" target="_blank">Code by: dpb6@duke</a></li>
                <li><a href="http://goo.gl/forms/AMJrwEXM4v" target="_blank">Add missing initials</a></li>
              </ul>
            </li>
          </ul>            
        </div><!--/.navbar-collapse -->        
      </div>
    </nav>

    <div class="container">
    $if namevalue:
        $pass
    $else:
        <div class="starter-template">
          <h1>Unintended Consequences Name Checker</h1>
          <p class="lead">Enter a potential baby name below to see problematic possible initials and email addresses.</p>
          <form class="form-signin"  action="/" method="POST">
            <label for="inputName" class="sr-only">Name</label>
            $if namevalue:
                <input type="text" name="name" id="inputName" class="form-control" value="$namevalue" required autofocus>
            $else:
                <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required autofocus>

            <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button> -->
          </form>
        </div>
    $if dict:
      <div class="page-header">
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Initials/Email</th>
              <th>Definition</th>
              <th>How?</th>
            </tr>
          </thead>
          <tbody>
          $for key, value in dict.iteritems():
            <tr>
              <td>$loop.index</td>
              <td>$key</td>
              <td>$value[0]</td>
              <td>$value[1]</td>
            </tr>
          </tbody>
        </table>
      </div>
    $else:
      &nbsp;

    </div> <!-- /container -->